# File created from pip freeze output, could require a cleanup, but ensures reproducibility. 
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
alembic==1.18.3
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
asttokens
astunparse==1.6.3
async-timeout==5.0.1
attrs==23.1.0
backcall
backports.tarfile==1.2.0
beartype==0.22.9
beautifulsoup4
black==26.1.0
boltons
brotlipy==0.7.0
cachetools==7.0.0
certifi
cffi
chardet
charset-normalizer
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
comm
conda==23.3.1
conda-build==3.24.0
conda-content-trust
conda-package-handling
conda_package_streaming
contourpy==1.3.2
croniter==6.0.0
cryptography
cuda-bindings==12.9.4
cuda-pathfinder==1.3.4
cycler==0.12.1
datasets==4.6.1
debugpy
decorator
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.3.0
docstring_parser==0.17.0
docutils==0.22.4
email-validator==2.3.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
executing==2.2.1
expecttest==0.1.4
fastavro==1.12.1
filelock==3.25.0
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.1.0
git-filter-repo==2.47.0
glob2
gmpy2
googleapis-common-protos==1.72.0
greenlet==3.3.1
griffe==1.15.0
grpcio==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.5.0
hypothesis==6.75.2
idna
imageio==2.37.2
importlib_metadata==8.7.1
invoke==2.2.1
ipykernel
ipython
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.4.0
jedi
jeepney==0.9.0
jinja2
jiter==0.13.0
jmespath==1.1.0
joblib==1.5.3
jsonpatch
jsonpointer==2.1
jsonref==1.1.0
jupyter_client
jupyter_core
kiwisolver==1.4.9
lazy_loader==0.4
libarchive-c
lightning-utilities==0.15.2
linkify-it-py==2.0.3
llvmlite==0.46.0
logfire-api==4.22.0
lpips==0.1.4
lupa==2.6
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.10.8
matplotlib-inline
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
more-itertools==10.8.0
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.18
mypy_extensions==1.1.0
nest_asyncio
networkx==3.1
nexus-rpc==1.2.0
numba==0.63.1
numpy==1.26.4
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opentelemetry-proto==1.39.1
opentelemetry-util-http==0.60b1
optuna==4.7.0
packaging==25.0
pandas==2.3.3
parso
pathable==0.4.4
pathspec==1.0.4
pathvalidate==3.3.1
pexpect
pickleshare
pillow==12.1.0
pkginfo
platformdirs
pluggy
POT==0.9.6.post1
prometheus_client==0.24.1
prompt-toolkit
propcache==0.4.1
protobuf==6.33.5
psutil
ptyprocess==0.7.0
pure-eval
py-key-value-shared==0.3.0
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycosat
pycparser
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.11.0
pynndescent==0.6.0
pyOpenSSL
pyparsing==3.3.2
pyperclip==1.11.0
PySocks
python-dateutil
python-dotenv==1.2.1
python-etcd==0.4.5
python-json-logger==4.0.0
python-multipart==0.0.22
pytokens==0.4.1
pytorch-fid==0.3.0
pytorch-msssim==1.0.0
pytz
PyYAML==6.0.3
pyzmq
readchar==4.2.1
redis==7.1.0
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
rich==14.3.3
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml
ruamel.yaml.clib
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
segmentation_models_pytorch==0.5.0
shellingham==1.5.4
simsimd==6.5.12
six
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve
SQLAlchemy==2.0.46
stack-data
stringzilla==4.6.0
sympy==1.14.0
taskgroup==0.2.2
tdqm==0.0.1
temporalio==1.20.0
tenacity==9.1.3
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==1.0.24
tomli
toolz
torch==2.10.0
torch-fidelity==0.3.0
torchaudio==2.0.2
torchdata
torchelastic==0.2.2
torchmetrics==1.8.2
torchtext==0.15.2
torchvision==0.15.2
tornado
tqdm==4.67.3
traitlets
triton==3.6.0
typer==0.24.1
typer-slim==0.21.1
types-dataclasses==0.6.6
types-protobuf==6.32.1.20251210
types-requests==2.32.4.20260107
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==1.0.3
umap-learn==0.5.11
urllib3==2.6.3
uvicorn==0.40.0
wcwidth
websockets==15.0.1
wrapt==1.17.3
xformers==0.0.34
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard
